.container1{
    min-height: 80vh;
}
.nav{
    padding-bottom: 0.5rem;
}
.icon{
    padding: 0;
}

.icon ul{
    display: block;
}
.v1{
    display:none;
}
.middle{
    padding-top:4rem;
}
/* .middle h1{
    font-size: 1rem;
    font-weight:400;
} */
.content{
    margin-top:25rem;
}
button{
    width: 10rem;
}
img{
    width:8rem;
    height: 8rem;
}