.container1{
    height: 80vh;
}
.nav{
    /* padding-bottom: 0.5rem; */
}
.icon{
    padding: 0;
}

.icon ul{
    display: block;
}
/* .v1{
    display:none;
} */
.middle{
    width: 50%;
    margin-top:3rem;
}
.middle button{
       width: 8rem;
}
/* .middle h1{
    font-size: 1rem;
    font-weight:400;
} */
.content{
    margin-top:2rem;
}
button{
    width: 8rem;
}
img{
    width:8rem;
    height: 8rem;
}