 body{
     font-size:12px;
 }
 
 
 .container1{
     height: 70vh;
     
 }
 .topnav a.bars {
    display: block;
  }
  
    .menu-toggle{
        display: block;
       margin-top:1rem;
        
    }
    .nav ul li {
      
        display: none;
        /* position: absolute;   */
    
      }
      .nav ul{
          display: block;
      }
    .nav{
        padding-bottom: 1rem;
    }
.middle{
    padding-top:0rem;
    width:40%;
    
}
/* .middle h1{
    font-size: 3rem;
    font-weight:400;
} */

.icon{

    width:100%;
}
.v1{
    border-left: 0.25rem solid grey;
    position: absolute;
    height:9rem; 
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
.content{
    display: block;
    margin-top:20rem;
}
i{
    font-size: 2rem;
    color: #6CC092;
}
.banner{
    display: none;
}
.banner{
    transition: 0.5s;
    z-index: 999;
    position: absolute;
    background-color: #6CC092;
    height:100vh;
    width:25%;
    right:0;
    top:0;

}
.wrapper{
    width:1rem;
    height:1rem;
    /* background-color:black; */
    float:right;
}

.banner i{
    color:white;
    font-size:1rem;
 
    
}
.banner a {
    text-decoration: none;
    color: white;
   

}
.banner ul{
   padding-left: 1rem; 
   padding-right: 1rem;
}
.banner li:not(:last-child){
    
    border-bottom: 1px solid white;
    
    
}
.banner li{
    padding-top: 1rem;
    padding-bottom: 1rem;
    opacity: 0.8;
}
   

